<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>student</title>
    <link
      href="./admin.css"
      rel="stylesheet" />
    <script
      src="admin.js"
      defer></script>
  </head>
  <body>
    <div class="main">
      <div class="stat"></div>
      <div class="accounts_container">
        <div class="account_detail hidden">
          <p class="account_state active">active</p>
          <p class="close">X</p>
          <div class="detail_image">
            <img
              src="./user-2.jpg"
              alt="userimage" />
          </div>
          <div class="detail_text">
            <p class="detail f_name">
              <span class="key key-fname">first name</span>
              <span class="value value-fname">authur</span>
            </p>
            <p class="detail l_name">
              <span class="key key-lname">last name</span>
              <span class="value value-lname">shelby </span>
            </p>

            <p class="detail email">
              <span class="key key-email">email/phone no.</span>
              <span class="value value-email">authr@gmail.com</span>
            </p>
            <p class="detail role">
              <span class="key key-role">role</span>
              <span class="value value-email">student </span>
            </p>
            <p class="detail date_assigned">
              <span class="key key-date">assigned date</span>
              <span class="value value-date">jan5 2023 </span>
            </p>
          </div>
          <div class="detail_btns">
            <button class="btn btn_deactive">deactivate</button>
            <button class="btn btn_delete">delete</button>
          </div>
        </div>
        <div class="account_list">
          <div class="account">
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
          <div class="account">
            <!-- <div class="account-image">
              <img
                src="./user-2.jpg"
                alt="user" />
            </div> -->
            <div class="account-text">
              <p class="name">aurthur shelby</p>
              <p class="role">student</p>
              <button class="btn btn_detail">detail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
